a {
  color:lightseagreen
}

.poll-title {
  display: none !important;
}

.poll-container > h1,
.poll-container > h2,
.poll-container > .MuiTypography-root {
  display: none !important;
}

.MuiTypography-h5,
.MuiTypography-h4 {
  display: none !important;
}